@charset "UTF-8";
/* titles variables */
/* variable colores*/
/*variables boostrap*/
/* border vars */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.rem {
  font-size: 1rem; }

.px {
  font-size: 16px; }

p, a, h5, h2, h1, label, input, h3, h4 {
  font-family: 'Oswald', sans-serif; }

body {
  background-image: linear-gradient(to bottom, red, #ff7b00, yellow); }

/* PRINCIPIO SECCIÓN INDEX */
.index__title {
  padding: 0.5rem;
  text-align: center;
  font-size: 4rem;
  margin-top: 2rem;
  background-color: white;
  animation-name: title;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite; }

@keyframes title {
  100% {
    background-color: black;
    color: red;
    text-decoration: underline; } }

/* inicio header */
.header {
  display: flex;
  background-color: black;
  padding: 0.5rem 1rem;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  grid-area: header; }
  .header__logocontenedor {
    display: flex; }
  .header__logo {
    height: 12rem;
    width: 16rem;
    margin-right: 0rem; }
  .header__h1 {
    color: white;
    text-decoration: underline; }
  .header__nav {
    color: black;
    font-size: 20px;
    font-weight: bolder; }
  .header__list {
    display: flex; }
  .header__item {
    display: flex;
    margin: 1rem; }
  .header__anchor {
    color: black;
    border: solid;
    background-color: white;
    padding: 0.2rem;
    border-radius: 0.5rem;
    transition: all, 0.8s; }
  .header__anchor:hover {
    transform: scale(1.5, 1.5);
    background-color: red; }

/* principio section hero*/
.hero {
  background-color: black;
  background-position: center right;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
  margin-top: 2.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 1rem; }
  .hero__h1 {
    color: white;
    text-align: center;
    font-size: 4rem;
    text-decoration: underline;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 3rem;
    transition: all 0.3s;
    margin-top: 1rem; }
  .hero__h1__span1 {
    background-color: red;
    padding: 0.5rem;
    transition: all 1s; }
  .hero__h1__span2 {
    background-color: orange;
    padding: 0.5rem;
    transition: all 1s; }
  .hero__form__cont {
    display: flex;
    gap: 100px; }
  .hero__form__p1 {
    font-size: 1.7rem;
    padding: 1rem;
    flex-basis: 100%;
    color: white;
    text-decoration: dashed; }
  .hero__form {
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    flex-basis: 100%; }
  .hero__input {
    width: 75%;
    margin-bottom: 1rem;
    transition: all,1s; }
  .hero__input:hover {
    transform: scale(1.5, 1.1);
    background-color: red;
    border-radius: 0.8rem; }
  .hero__inputs {
    font-size: 1.2rem;
    width: 75%;
    margin-bottom: 1rem;
    background-color: red;
    height: 2rem;
    color: white;
    transition: all, 1s;
    border-radius: 0.8rem; }
  .hero__inputs:hover {
    transform: scale(1.5, 1.7); }

/* principio section tienda */
.tienda {
  display: flex;
  gap: 75px;
  align-items: center;
  margin-bottom: 3rem;
  background-color: black;
  padding: 1rem; }
  .tienda__div {
    display: flex;
    flex-direction: column;
    height: 20rem;
    justify-content: space-evenly; }
  .tienda__logo__cont {
    position: relative; }
  .tienda__logo {
    height: 30rem;
    width: 30rem; }
  .tienda__logo__fecha {
    position: absolute;
    background-color: white;
    padding: 0.1rem;
    margin: 0.5rem; }
  .tienda__parrafo {
    font-size: 1.7rem;
    color: white; }

/* inicio seccion barra */
.barra {
  display: flex;
  background-color: black;
  color: white;
  padding: 1rem;
  justify-content: space-evenly; }
  .barra__columna__imagen1 {
    height: 10rem;
    width: 10rem; }
  .barra__columna__imagen2 {
    height: 10rem;
    width: 10rem; }
  .barra__columna__imagen3 {
    height: 10rem;
    width: 10rem; }
  .barra__columna__imagen4 {
    height: 10rem;
    width: 10rem; }
  .barra__contenedor {
    animation-name: bci;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 3s; }

@keyframes bci {
  25% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.5, 1.5); }
  75% {
    transform: scale(1.5, 1.5); }
  95% {
    transform: scale(1.1); } }
  .barra__columna__h1 {
    text-align: center;
    background-color: white;
    color: black;
    animation-name: bh1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 3s; }

@keyframes bh1 {
  50% {
    background-color: red; } }

/* inicio footer */
.footer {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
  padding: 3rem 4rem;
  color: white;
  background-color: black;
  justify-content: space-evenly;
  margin: 3rem 1rem 1rem 1rem;
  border-radius: 1rem; }
  .footer__parrafo {
    padding: 1.8rem;
    font-size: 1rem; }
  .footer__columna {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .footer__columna__imgc {
    display: flex;
    flex-direction: column;
    justify-content: center; }

@keyframes hura {
  15% {
    opacity: 1; }
  50% {
    opacity: 0; }
  85% {
    opacity: 1; } }
  .footer__columna__img {
    width: 15rem;
    height: 15rem;
    text-align: center;
    animation-name: hura;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 3s; }
  .footer__columna__h2 {
    text-align: center;
    background-color: white;
    color: black; }

.contact__title {
  padding: 0.5rem;
  text-align: center;
  font-size: 4rem;
  margin-top: 2rem;
  background-color: white;
  animation-name: title;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite; }

@keyframes title {
  100% {
    background-color: black;
    color: red;
    text-decoration: underline; } }

#grid {
  margin-top: 1rem;
  display: grid;
  grid-template-rows: 73% 27%;
  grid-template-columns: 30% auto auto;
  grid-template-areas: "header sectionyo sectionmami" "footer footer footer";
  gap: 2rem; }

/* header inicio */
.grid__header {
  grid-area: header;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-left: 0.8rem;
  border-radius: 1.2rem; }
  .grid__header__h1 {
    color: white;
    text-decoration: underline; }
  .grid__header__nav {
    color: black;
    font-size: 20px;
    font-weight: bolder; }
  .grid__header__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 1.5rem; }
  .grid__header__item {
    margin: 1rem;
    transition: all, 1s; }
  .grid__header__item:hover {
    transform: scale(1.5, 1.5); }
  .grid__header__logo {
    height: 20rem;
    margin-top: 1rem; }

/* principio section yo */
.sectionyo {
  grid-area: sectionyo;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all, 1s;
  background-color: black;
  color: white;
  border-radius: 1.2rem; }
  .sectionyo__logo {
    height: 20rem;
    width: 15rem; }

.accordion-button {
  background-color: orange;
  color: white;
  padding: 1rem; }

.accordion {
  margin: 1rem; }

.contact__strong {
  background-color: red; }

/* principio section mami */
.sectionmami {
  background-color: black;
  padding: 1rem;
  grid-area: sectionmami;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all, 1s;
  color: white;
  border-radius: 1.2rem; }
  .sectionmami__logo {
    height: 20rem;
    width: 18rem; }

.contact__strong {
  background-color: red; }

.accordion-button {
  background-color: orange;
  color: white;
  padding: 1rem; }

.accordion {
  margin: 1rem; }

/* contact footer */
.contact__footer {
  grid-area: footer;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 1.2rem;
  margin: 0.5rem 2rem; }
  .contact__footer__logo {
    height: 13rem; }
  .contact__footer__parrafo {
    color: white;
    margin: 0rem 1rem;
    text-align: center; }

.contact__carrousel__h4 {
  position: absolute;
  padding: 0.2rem;
  color: black;
  background-color: #ffd900;
  margin: 0.3rem 0rem 0rem 0.3rem;
  border-radius: 0.3rem;
  z-index: 1000; }

.fecha__contenedor {
  position: relative; }

.equipo__title {
  padding: 0.5rem;
  text-align: center;
  font-size: 4rem;
  margin-top: 2rem;
  background-color: white;
  animation-name: title;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite; }

@keyframes title {
  50% {
    background-color: black;
    color: red;
    text-decoration: underline; } }

.team__seccion {
  display: flex;
  margin-top: 3rem; }
  .team__seccion__mein {
    display: flex;
    margin: 2rem;
    flex-basis: 50%; }
  .team__seccion__logo1 {
    height: 20rem;
    width: 20rem;
    position: relative; }
  .team__seccion__main {
    flex-basis: 50%;
    display: flex;
    margin: 2rem;
    margin-left: 0rem; }
  .team__seccion__logo2 {
    width: 20rem;
    position: relative; }
  .team__seccion__logo1h2 {
    background-color: black;
    padding: 0.1rem;
    color: white;
    text-align: center; }
  .team__seccion__logo2h2 {
    background-color: black;
    padding: 0.1rem;
    color: white;
    text-align: center; }
  .team__seccion__parrafoc1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1rem; }
  .team__seccion__parrafoc2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1rem; }
  .team__seccion__logoc {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .team__seccion__parrafo {
    background-color: black;
    color: white;
    padding: 0.5rem;
    transition: all, 0.5s;
    z-index: 100;
    animation-name: teamparrafo;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-duration: 15s; }

@keyframes teamparrafo {
  1% {
    color: white;
    background-color: black; }
  30% {
    color: black;
    background-color: #e60b0b; }
  60% {
    color: black;
    background-color: #e60b0b; }
  99% {
    color: white;
    background-color: black; } }

.proyect__title {
  padding: 0.5rem;
  text-align: center;
  font-size: 4rem;
  margin-top: 2rem;
  background-color: white;
  animation-name: title;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  margin-bottom: 2rem; }

@keyframes title {
  100% {
    background-color: black;
    color: red;
    text-decoration: underline; } }

#grancontenedor {
  display: grid;
  grid-template-rows: 22rem 36rem 6rem;
  grid-template-columns: auto;
  height: 64rem;
  grid-template-areas: "header" "main" "footer"; }

.proyecto {
  margin: 1rem;
  margin-top: 2rem;
  gap: 1rem;
  grid-area: main; }
  .proyecto__contenedor1 {
    display: flex;
    gap: 1rem; }
  .proyecto__img1 {
    width: 25rem;
    transform: rotate(-4deg); }
  .proyecto__parrafo__contenedor1 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .proyecto__parrafo1 {
    padding: 1rem;
    background-color: black;
    color: aliceblue; }
  .proyecto__contenedor2 {
    display: flex;
    gap: 1rem; }
  .proyecto__parrafo__contenedor2 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .proyecto__parrafo2 {
    padding: 1rem;
    background-color: black;
    color: aliceblue; }
  .proyecto__img2 {
    width: 25rem;
    transform: rotate(3deg); }
  .proyecto__footer, .team__footer {
    background-color: black;
    color: beige;
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
    grid: footer; }

.high__title {
  padding: 0.5rem;
  text-align: center;
  font-size: 4rem;
  margin-top: 2rem;
  background-color: white;
  animation-name: title;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite; }

@keyframes title {
  100% {
    background-color: black;
    color: red;
    text-decoration: underline; } }

.high {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .high__video {
    height: 10rem;
    width: 20rem; }
  .high__main__h2 {
    text-align: center;
    background-color: white;
    transition: all, 1s; }
  .high__main__h2:hover {
    background-color: red; }
  .high__futer {
    color: white;
    background-color: black; }
  .high__futer__h1 {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem; }
  .high__futer__h1__span {
    background-color: orangered;
    padding: 0.5rem; }

@media screen and (max-width: 1024px) {
  /*   PRINCIPIO INDEX */
  /* principio tienda */
  .tienda__parrafo {
    font-size: 1.5rem; }
  /* principio barra */
  @keyframes bci {
    25% {
      transform: scale(1, 1); }
    50% {
      transform: scale(1.2, 1.1); }
    75% {
      transform: scale(1.2, 1.1); }
    95% {
      transform: scale(1.1); } }
  @keyframes bh1 {
    50% {
      background-color: red; }
    75% {
      background-color: red; } }
  .footer {
    padding: 0.1rem; }
  /* PRINCIPIO EQUIPO */
  .team__seccion__mein {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .team__seccion__main {
    flex-direction: column;
    margin: 2rem;
    gap: 25px; }
  .team__seccion__logo1 {
    width: 100%;
    height: 25rem; }
  .team__seccion__logo2 {
    width: 100%; }
  .team__seccion__parrafoc1 {
    gap: 1rem;
    margin-left: 0rem; }
  .team__seccion__parrafoc2 {
    gap: 1rem;
    margin-left: 0rem; }
  /* PRINCIPIO CONTACTO*/
  .grid__header {
    margin-left: 0.8rem; }
    .grid__header__h1 {
      font-size: 2rem; }
    .grid__header__list {
      gap: 1.5rem;
      margin-right: 2rem; } }

.sectionmami {
  margin-right: 0.8rem; }

.contact__footer {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  margin-bottom: 3rem; }

/* principio highlights */
.high__video {
  height: 6rem;
  width: 14rem; }

/* ESTILOS MOBILES (MEDIA QUERIES) */
@media screen and (max-width: 768px) {
  /* PRINCIPIO INDEX */
  /* principio hero */
  .hero__form__p1 {
    font-size: 1.5rem;
    padding: 0.2rem; }
  .hero__inputs {
    margin-bottom: 0.3rem; }
  /* principio tienda */
  .tienda {
    gap: 25px; }
    .tienda__parrafo {
      font-size: 1rem; }
  /* principio barra */
  .barra__contenedor {
    animation-name: none; }
  @keyframes bci {
    25% {
      transform: scale(1, 1); }
    50% {
      transform: scale(1.1, 1.1); }
    75% {
      transform: scale(1.1, 1.1); }
    95% {
      transform: scale(1.1); } }
  @keyframes bh1 {
    50% {
      background-color: red; }
    75% {
      background-color: red; } }
  /* principio footer */
  .footer__parrafo {
    padding: 0.7rem;
    font-size: 12px; }
  /* PRINCIPIO EQUIPO */
  .team__seccion__mein {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .team__seccion__logo1 {
    width: 100%; }
  .team__seccion__parrafoc1 {
    margin-left: 0rem;
    gap: 1rem; }
  .team__seccion__main {
    flex-direction: column;
    justify-content: center; }
  .team__seccion__logo2 {
    width: 100%; }
  .team__seccion__logoc {
    margin-top: 1.5rem; }
  .team__seccion__parrafoc2 {
    margin-left: 0rem;
    gap: 1rem; }
  /* PRINCIPIO HIGHLIGHTS */
  .high__div {
    padding: 0.5rem; }
  .high__video {
    width: 13rem; }
  /* PRINCIPIO PROYECTO */
  .proyecto__contenedor1 {
    margin-bottom: 3rem; }
  .proyecto__img1 {
    width: 22rem; }
  .proyecto__img2 {
    width: 22rem; }
  /* PRINCIPIO CONTACTO */
  .grid__header {
    margin-left: 0.8rem; }
    .grid__header__h1 {
      font-size: 1.3rem;
      margin-top: 2rem;
      color: white;
      text-decoration: underline; }
    .grid__header__list {
      gap: 0.5rem;
      margin-right: 0.6rem; }
    .grid__header__nav {
      margin-right: 1rem; }
    .grid__header__logo {
      width: 100%;
      padding: 0.2rem;
      border-radius: 1rem; }
  /* section yo */
  .sectionyo__logo {
    width: 12rem;
    border-radius: 1rem; }
  /* section mami */
  .sectionmami__logo {
    width: 12rem;
    border-radius: 1rem; }
  .contact__parrafo {
    font-size: 0.8rem; }
  /* footer */
  .contact__footer {
    margin-left: 0.8rem;
    margin-bottom: 3rem; } }

/* ESTILOS MOBILES (MEDIA QUERIES) */
/* INDEX */
/* header */
@media screen and (max-width: 425px) {
  .header {
    display: flex;
    flex-direction: column; }
    .header__list {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .header__nav {
      margin-right: 0rem; }
    .header__item {
      display: flex;
      justify-content: start;
      margin-bottom: 0rem; }
  /* principio hero */
  .hero {
    display: flex;
    flex-direction: column; }
    .hero__form {
      align-items: center; }
    .hero__form__p1 {
      text-align: center; }
    .hero__form__cont {
      display: flex;
      flex-direction: column;
      gap: 1px; }
  /* principio tienda celu */
  .tienda {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 1rem; }
    .tienda__logo {
      width: 100%;
      height: 100%; }
    .tienda__div {
      width: 100%;
      margin: 0rem;
      height: 100%; }
    .tienda__parrafo {
      font-size: 1rem;
      padding: 0.3rem; }
  /* principio barra */
  .barra {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 0rem;
    margin: 0rem 1rem;
    padding: 1.5rem;
    border-radius: 1rem; }
    .barra__columna__h1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.5rem;
      text-align: center;
      animation-duration: 5s; }
    .barra__columna {
      margin-left: 0.7rem; }
    .barra__columna__imagen {
      height: 15rem;
      width: 15rem; }
    .barra__contenedor {
      display: flex;
      justify-content: center;
      animation-name: none; }
  /* principio footer */
  .footer {
    display: flex;
    flex-direction: column;
    margin: 3rem 1rem 1rem 1rem;
    border-radius: 1rem; }
    .footer__columna {
      background-color: white;
      color: black;
      border-radius: 1rem; }
    .footer__columna__img {
      width: 100%; }
    .footer__parrafo {
      font-size: 0.9rem;
      text-decoration: underline; }
  /* PRINCIPIO SECCION PROYECTO */
  #grancontenedor {
    display: flex;
    flex-direction: column;
    height: 100%; }
  .proyecto {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    .proyecto__contenedor1 {
      display: flex;
      flex-direction: column;
      gap: 2rem; }
    .proyecto__img1 {
      width: 100%; }
    .proyecto__contenedor2 {
      display: flex;
      flex-direction: column;
      gap: 2rem; }
    .proyecto__img2 {
      width: 100%; }
  /* PRINCIPIO SECCION CONTACTO */
  #grid {
    display: flex;
    flex-direction: column; }
  .grid__header {
    margin: 0rem 1rem;
    border-radius: 1rem; }
    .grid__header__h1 {
      font-size: 2.8rem; }
    .grid__header__nav {
      display: flex;
      flex-direction: column;
      align-items: center; }
  /* principio yo */
  .sectionyo {
    background-color: black;
    padding: 1rem;
    margin: 0rem 1rem;
    border-radius: 1rem; }
  .contact__parrafo {
    color: black; }
  /* principio seccion mami */
  .sectionmami {
    background-color: black;
    margin-right: 0rem;
    padding: 1rem;
    border-radius: 0rem;
    margin: 0rem 1rem;
    border-radius: 1rem; }
  /* principio footer */
  .contact__footer {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0rem;
    margin: 0rem 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem; }
  /* PRINCIPIO SECCION EQUIPO */
  .team__seccion {
    flex-direction: column; }
    .team__seccion__mein {
      flex-direction: column;
      gap: 25px; }
    .team__seccion__main {
      flex-direction: column;
      margin: 2rem;
      gap: 25px; }
    .team__seccion__parrafo {
      border-radius: 0.3rem; }
    .team__seccion__parrafoc1 {
      margin-left: 0rem;
      gap: 1rem; }
    .team__seccion__parrafoc2 {
      width: 100%;
      margin-left: 0rem;
      gap: 1rem; }
    .team__seccion__logoh2c {
      width: 100%; }
    .team__seccion__logo1 {
      width: 100%;
      margin-left: 0rem; }
    .team__seccion__logo2 {
      width: 100%; }
  /* PRINCIPIO PAGINA HIGHLIGHTS */
  .high {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    .high__div {
      padding: 1rem;
      margin: 0rem 1rem; }
    .high__video {
      width: 22rem;
      height: 10.5rem; } }
