.contact__title{
    padding: $titlees-padding;
    text-align: $titles-text;
    font-size: $titles-font;
    margin-top: $titles-margintop;
    background-color: $titles-backgroundcolor;
    animation-name: $titles-animationname;
    animation-duration: $titles-anmduration;
    animation-delay: $titles-anmdelay;
    animation-iteration-count: $titles-aic;
}

@keyframes title{

    100%{
        background-color: black;
        color: red;
        text-decoration: underline;
    }
    
}

.contact__big{

    height: 145vh;
}    

#grid{
    margin-top: 1rem;
    display: grid;
    grid-template-rows: 73% 27%;
    grid-template-columns: 30% auto auto;
    height: 140vh;
    grid-template-areas: "header sectionyo sectionmami"
                         "footer footer footer";
    gap: 2rem;
    
}
                                                                                                                    /* header inicio */

.grid__header{
    grid-area: header;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-left: 2rem;
    border-radius: $radius-items;

    &__h1{
        color: white;
        text-decoration: underline;
    }

    &__nav{
        color: black;
        font-size: 20px;
        font-weight: bolder;

    }
    
    &__list{
        display: flex;
        flex-direction: column;  
        text-align: center; 
        margin-right: 1.5rem;
    
    }
    
    
    &__item{
        margin: 1rem; 
        transition: all, 1s;
    }
    
    &__item:hover{
        transform: scale(1.5,1.5) ;
    }
    
    &__logo{
        height: 20rem;
        margin-top: 1rem;
    }
}



                                                                                                             /* principio section yo */
.sectionyo{
    grid-area: sectionyo;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all, 1s;
    background-color: black;
    color: white;
    border-radius: $radius-items;
    

    &logo{
        height: 20rem;
        width: 15rem;
    }
}

.accordion-button{
 background-color: $back-aco;
 color: $color-aco;
 padding: $padding-aco;   
}

.accordion{
    margin: $margin-aco;
}

.contact__strong{
    background-color: $contact-strong;
}

                                                                                                              /* principio section mami */

.sectionmami{
    background-color: black;
    padding: 1rem;
    grid-area: sectionmami;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all, 1s;
    color: white;
    border-radius: $radius-items;

    &__logo{
        height: 20rem;
        width: 18rem;
    }

}

.contact__strong{
    background-color: $contact-strong;
}

.accordion-button{
    background-color: $back-aco;
    color: $color-aco;
    padding: $padding-aco;   
   }
   
   .accordion{
       margin: $margin-aco;
   }
   
                                                                                                            /* contact footer */

.contact__footer{
    grid-area: footer;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-radius: $radius-items;
    margin: 0.5rem 2rem;

    &__logo{
        height: 13.5rem;
    }
    
    &__parrafo{
        color: white;
        margin: 0rem 1rem;
        text-align: center;
    }
}

.contact__carrousel__h4{
    position: absolute;
    padding: 0.2rem;
    color: black;
    background-color: rgb(255, 217, 0);
    margin: 0.3rem 0rem 0rem 0.3rem;
    border-radius: 0.3rem;
    z-index: 1000;
}

.fecha__contenedor{
    position: relative;
}
