.equipo__title{
    padding: $titlees-padding;
    text-align: $titles-text;
    font-size: $titles-font;
    margin-top: $titles-margintop;
    background-color: $titles-backgroundcolor;
    animation-name: $titles-animationname;
    animation-duration: $titles-anmduration;
    animation-delay: $titles-anmdelay;
    animation-iteration-count: $titles-aic;
}

@keyframes title{


    50%{
        background-color: black;
        color: red;
        text-decoration: underline;
    }


}

.team__seccion{
    display: flex;
    margin-top: 3rem;
    &__mein{
        display: flex;
        margin: 2rem;
        flex-basis: 50%;
    }
    
    &__logo1{
    
        height: 20rem;
        width: 20rem;
        position: relative;
    }
    
    &__main{
        flex-basis: 50%;
        display: flex;
        margin: 2rem;
        margin-left: 0rem;
    }
    
    
    &__logo2{
        width: 20rem;
        position: relative;
       
    }

    @mixin teamh1s{
        background-color:black ;
        padding: 0.1rem;
        color: white;
        text-align: center;
    }

    &__logo1h2{
        @include teamh1s;
    }
    
    &__logo2h2{
        @include teamh1s;
    }
    
    &__parrafoc1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 1rem;
    }
    
    &__parrafoc2{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        margin-left: 1rem;
    }
    
    &__logoc{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    &__parrafo{
        background-color: black;
        color: white;
        padding: 0.5rem;
        transition: all, 0.5s;
        z-index: 100;
        animation-name: teamparrafo;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        animation-duration: 15s;
    }
    
    @keyframes teamparrafo {
        1%{
            color: white;
            background-color: black
        }

        30%{
            color: black;
            background-color: rgb(230, 11, 11);
        }

        60%{
            color: black;
            background-color: rgb(230, 11, 11);
        }

        99%{
            color: white;
            background-color: black
        }
    }
}


.team__footer{
    @extend .proyecto__footer;
}