.high__title{
    padding: $titlees-padding;
    text-align: $titles-text;
    font-size: $titles-font;
    margin-top: $titles-margintop;
    background-color: $titles-backgroundcolor;
    animation-name: $titles-animationname;
    animation-duration: $titles-anmduration;
    animation-delay: $titles-anmdelay;
    animation-iteration-count: $titles-aic;
}

@keyframes title{


    100%{
        background-color: black;
        color: red;
        text-decoration: underline;
    }
    
    }

    .high{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;

    &__video{
        height: 10rem;
        width: 20rem;
    }

    &__main__h2{
        text-align: center;
        background-color: white;
        transition: all, 1s;
    }
    
    &__main__h2:hover{
        background-color: red;
    }
    &__futer{
        color: white;
        background-color: black;
    }
    
    &__futer__h1{
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
    }
    
    &__futer__h1__span{
        background-color: orangered;
        padding: 0.5rem;
    }
}


@mixin prophighimg{
    width: 20rem;
    height: 20rem;
}

.img__high1{
    @include prophighimg;     
}

.img__high2{
    @include prophighimg;    
}

.img__high3{
    @include prophighimg;
}

