

@media screen and (max-width: 1024px){

                                                                                                                /*   PRINCIPIO INDEX */

                                                                                                                /* principio tineda */

.tienda__parrafo{
    font-size: 1.5rem;
}

                                                                                                                /* principio barra */

@keyframes bci {
    25%{
        transform: scale(1,1);
    }

    50%{
        transform: scale(1.2,1.1);
    }
                                        
    75%{
        transform: scale(1.2,1.1);
    }

    95%{ 
        transform: scale(1.1);
    }

}

@keyframes bh1{
    50%{
        background-color: red;
    }

    75%{
        background-color: red;
    }

}

.team__seccion{

    &__mein{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    &__main{
    
        flex-direction: column;
        margin: 2rem;
        gap: 25px;
    }
    
    &__logo1{
        width: 100%;
        height: 25rem;
    }
    
    &__logo2{
        width: 100%;
    }
    
    &__parrafoc1{
        gap: 1rem;
        margin-left: 0rem;
        
    }
    
    &__parrafoc2{
        gap: 1rem;
        margin-left: 0rem;  
        
    }
}                                                                                                              /* PRINCIPIO EQUIPO */

}

                                                                                                    /* ESTILOS MOBILES (MEDIA QUERIES) */

@media screen and (max-width: 768px){

                                                                                                        /* PRINCIPIO INDEX */

                                                                                                        /* principio hero */

.hero__form__p1{
font-size: 1.5rem;
padding: 0.2rem;
}                                                                                                               

.hero__inputs{
margin-bottom: 0.3rem;
}

                                                                                                        /* principio tienda */
.tienda{
gap: 25px;

&__parrafo{
font-size: 1rem;
}

}                                                                                                                

                                                                                                        /* principio barra */
.barra__contenedor{
animation-name: none;
}

@keyframes bci {
25%{
transform: scale(1,1);
}

50%{
transform: scale(1.1,1.1);
}

75%{
transform: scale(1.1,1.1);
}

95%{ 
transform: scale(1.1);
}

}

@keyframes bh1{
50%{
background-color: red;
}

75%{
background-color: red;
}

}
                                                                                                        /* principio footer */

.footer__parrafo{
padding: 0.7rem;
font-size: 12px;
}
                                                                                                        /* PRINCIPIO EQUIPO */

.team__seccion{

    &__mein{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    &__logo1{
    width: 100%;
    }
    
    }
    
    &__parrafoc1{
    margin-left: 0rem;
    gap: 1rem;
    }
    
    &__main{
    flex-direction: column;
    justify-content: space-evenly;
    }
    
    &__logo2{
    width: 100%;
    }
    
    &__logoc{
    margin-top: 1.5rem;
    }
    
    &__parrafoc2{
    margin-left: 0rem;
    gap: 1rem;
    }
}


                                                                                                     /* PRINCIPIO HIGHLIGHTS */

.high__div{
padding: 0.5rem;
}

@mixin imghightablet{
    width: 15rem;
    height: 15rem;
}

.img__high1{
    @include imghightablet;     
}

.img__high2{
    @include imghightablet;    
}

.img__high3{

    @include imghightablet;
}


                                                                                                    /* PRINCIPIO PROYECTO */

.proyecto__contenedor1{
margin-bottom: 3rem;
}
                                                                                                      
.proyecto__img1{
width: 22rem;
}

.proyecto__img2{
width: 22rem;
}

                                                                                                      /* PRINCIPIO CONTACTO */

#grid{
height: 170vh;
}

.grid__header__h1{
font-size: 1.3rem;
margin-top: 2rem;
color: white;
text-decoration: underline;
}

.header__nav{
    margin-right: 1rem;
}

.grid__header__logo{
    width: 100%;
}

.sectionyo__logo{
width: 12rem;
}

.sectionmami__logo{
width: 12rem;
}

.contact__parrafo{
font-size: 0.8rem;
}

}


                                                                                                    /* ESTILOS MOBILES (MEDIA QUERIES) */

                                                                                                             /* INDEX */

                                                                                                             /* header */

@media screen and (max-width: 425px){
    .header{
            display: flex;
            flex-direction: column;
            &__list{
                display: flex;
                flex-direction: column;
                align-items: center;
                
            }
            &__item{
                display: flex;
                justify-content: start;
                margin-bottom: 0rem;
    }    
                                                                                                                    /* principio hero */
    }

    .hero{
        display: flex;
        flex-direction: column;
        &__form{
            align-items: center;
        }
    
        &__form__p1{
            text-align: center;
        }
    
        &__form__cont{
            display: flex;
            flex-direction: column;
            gap: 1px;
        
        }
    }


                                                                                                             /* principio tienda celu */

    .tienda{
        flex-direction: column;
        gap: 20px;
        margin-bottom: 1rem;
        &__logo{
    
            width: 100%;
            height: 100%;
        }
        
        &__div{
            width: 100%;
            margin: 0rem;
            height: 100%;
            
        }
    
        &__parrafo{
            font-size: 1rem;
            padding: 0.3rem;
            
        }
    }


                                                                                                                    /* principio barra */

    .barra{
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-bottom: 0rem;
        padding: 1.5rem;

        &__columna__h1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0.5rem;
            text-align: center;
            animation-duration: 5s;
        }
    
        &__columna{
            margin-left: 0.7rem;
        }
    
        &__columna__imagen{
            height: 15rem;
            width: 15rem;
        }
    
        &__contenedor{
            display: flex;
            justify-content: center;
            animation-name: none;
        }
    }


                                                                                                             /* principio footer */

    .footer{
        display: flex;
        flex-direction: column;
        &__columna{
            background-color: white;
            color: black;
        }
    
        &__columna__img{
            width: 100%;
        }
    }


                                                                                                         /* PRINCIPIO SECCION EQUIPO */

    .team__seccion{
        flex-direction: column;

        &__mein{
            flex-direction: column;
            gap: 25px;
        }
    
        &__main{
    
            flex-direction: column;
            margin: 2rem;
            gap: 25px;
        }
    
        &__parrafoc1{
            margin-left: 0rem;
            gap: 1rem;
        }
    
        &__parrafoc2{
            width: 100%;
            margin-left: 0rem;
            gap: 1rem;
        }
    
        &__logoh2c{
            width: 100%;
        }
    
        &__logo1{
            width: 100%;
            margin-left: 0rem;
        }
    
        &__logo2{
            width: 100%;
        }
    }


                                                                                                        /* PRINCIPIO SECCION PROYECTO */

    #grancontenedor{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .proyecto{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        &__contenedor1{
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    
        &__img1{
            width: 100%;
        }
    
        &__contenedor2{
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    
        &__img2{
            width: 100%;
        }
    }
    

                                                                                                        /* PRINCIPIO SECCION CONTACTO */
    #grid{
        display: flex;
        flex-direction: column;
    }

    .grid__header{
        margin: 0rem;

    &__h1{
            font-size: 3rem;
    }
    }


    .header__nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 1rem;
    }

                                                                                                             /* principio yo */
    .sectionyo{
        background-color: black;
        padding: 1rem;
    }                                                                                                         
    
    .contact__parrafo{
        color: black;
    }
                                                                                                             /* principio seccion mami */
    .sectionmami{
        background-color: black;
        margin-right: 0rem;
        padding: 1rem;
    }                                                                                                         
    

                                                                                                             /* principio footer */
    .contact__footer{
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }
    
                                                                                                        /* PRINCIPIO PAGINA HIGHLIGHTS */

    .high{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    @mixin imghigh{
        width: 100%;
        height: 100%
    }
    .img__high1{
        @include imghigh;     
    }
    
    .img__high2{
        @include imghigh;    
    }
    
    .img__high3{

        @include imghigh;
    }

    .high__div{
        padding: 1rem;
        margin: 0rem 1rem
    }
}