.proyect__title{
    padding: $titlees-padding;
    text-align: $titles-text;
    font-size: $titles-font;
    margin-top: $titles-margintop;
    background-color: $titles-backgroundcolor;
    animation-name: $titles-animationname;
    animation-duration: $titles-anmduration;
    animation-delay: $titles-anmdelay;
    animation-iteration-count: $titles-aic;
    margin-bottom: 2rem;
}

@keyframes title{


100%{
    background-color: black;
    color: red;
    text-decoration: underline;
}

}

#grancontenedor{
    display: grid;
    grid-template-rows: 22rem 36rem 6rem;
    grid-template-columns: auto;
    height: 64rem;
    grid-template-areas: "header"
                         "main"
                         "footer";
}

.proyecto{
   margin: 1rem; 
   margin-top: 2rem;
   gap: 1rem;
   grid-area: main;
   &__contenedor1{
       display: flex;
       gap:1rem;
   }
   
   &__img1{
      width: 25rem;
      transform: rotate(-4deg); 
   }
   
   &__parrafo__contenedor1{
       display: flex;
       flex-direction: column;
       justify-content: center;
   }
   
   &__parrafo1{
       padding: 1rem;
       background-color: black;
       color: aliceblue;
       
   }
   
   &__contenedor2{
       display: flex;
       gap: 1rem;
   }
   
   &__parrafo__contenedor2{
       display:flex;
       flex-direction: column;
       justify-content: center;
   }
   
   &__parrafo2{
       padding: 1rem;
       background-color: black;
       color: aliceblue;
       
   }
   
   &__img2{
       width: 25rem;
       transform: rotate(3deg);
   }
   
   &__footer{
       background-color: black;
       color: beige;
       padding: 1rem;
       font-size: 1.5rem;
       margin-top: 1.5rem;
       text-align: center;
       grid: footer;
   }
}
