/* titles variables */

$titlees-padding:0.5rem; 
$titles-text:center;
$titles-font: 4rem;
$titles-margintop: 2rem;
$titles-backgroundcolor: white;
$titles-animationname: title;
$titles-anmduration: 4s;
$titles-anmdelay: 1s;
$titles-aic: infinite;

/* variable colores*/

$contact-strong: red;

/*variables boostrap*/

$padding-aco: 1rem;
$back-aco: orange;
$color-aco: white;
$margin-aco: 1rem;

/* border vars */

$radius-items: 1.2rem;