/* titles variables */

$titlees-padding:0.5rem; 
$titles-text:center;
$titles-font: 4rem;
$titles-margintop: 2rem;
$titles-backgroundcolor: white;
$titles-animationname: title;
$titles-anmduration: 4s;
$titles-anmdelay: 1s;
$titles-aic: infinite;

